{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-3">
            {{ form_start(form) }}
                <h3 class="text-center"><small>Register manager form</small></h3>
                <div class="form-group">
                    <label for="email">Email address</label>
                    {{ form_widget(form.email, { "attr" : { "class" : "form-control" }, "id" : "email" }) }}
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    {{ form_widget(form.name, { "attr" : { "class" : "form-control" }, "id" : "name" }) }}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{ form_widget(form.password, { "attr" : { "class" : "form-control" }, "id" : "password" }) }}
                </div>
                {{ form_widget(form.submit, { "attr" : { "class" : "btn btn-success" } }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}