{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if companies|length > 0 %}
                <table class="table table-striped">
                    <tr>
                        <td>ID</td>
                        <td>Company</td>
                        <td>Number</td>
                        <td>Address</td>
                        <td>Contact</td>
                        <td>Phone</td>
                        <td>Postal Code</td>
                        <td>{% if companies.isSorted('p.product') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Product', 'p.product') }}</td>
                        <td>Price</td>
                        <td>{% if companies.isSorted('p.saleDate') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Sales date', 'p.saleDate') }}</td>
                        <td></td>
                    </tr>
                    {% for item in companies %}
                        <tr data-id="{{ item.id }}" main_page="true">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.orgCode }}</td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.contact }}</td>
                            <td>{{ item.phone }}</td>

                            <td>{{ item.postalCode }}</td>
                            <td>{{ item.product }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.saleDate|date("Y-m-d") }}</td>

                            <td>
                                <div class="btn-group" aria-label="..." role="group">
                                    <a title="Edit" href="{{ path('edit_company', { "id":item.id }) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    {% if not item.rejected %}
                                        <a title="Reject company" href="{{ path('reject', {"id":item.id}) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                        </a>
                                    {% endif %}
                                    {% if not item.trashed %}
                                    <a title="Delete company" href="{{ path('delete', {"id":item.id}) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ knp_pagination_render(companies) }}
            {% else %}
                <h2>No companies found</h2>
            {% endif %}
        </div>
        <div style="background: #e6e6e6;" class="col-md-12 company_item">
        </div>
    </div>


{% endblock %}