{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form style="margin-top:5px;margin-bottom: 5px;" action="{{ path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) }}" id="filter" method="GET">
                        <div class="row">
                            <div class="col-sm-3">
                                <select name="month" id="month" class="form-control selectpicker-1">
                                    <option value="0">Month</option>
                                    {% for j in range(1, 12) %}
                                        <option {% if j == app.request.query.get("month") %} selected="selected" {% endif %} value="{{ j }}">{{ date('2015-' ~ j ~ '-01')|date("F") }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="week" class="form-control selectpicker-2">
                                    <option value="0">Week</option>
                                    {% for j in range(1, 4) %}
                                        <option {% if j == app.request.query.get("week") %} selected="selected" {% endif %} value="{{ j }}">{{ j }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="manager" id="manager" class="form-control selectpicker-3">
                                    <option value="0">Manager</option>
                                    {% for manager in managers() %}
                                        <option {% if manager.id == app.request.query.get("manager") %} selected="selected" {% endif %} value="{{ manager.id }}">{{ manager.name~' '~manager.lastName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="go-button">GO</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 table-scrollable">
            {% if companies|length > 0 %}
                <table infinite-load="true" id="companies" class="table custom" cellspacing="1" cellpadding="1">
                    <tr>
                        <td>{% if companies.isSorted('p.creator.id') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'ID', 'p.creator') }}</td>
                        <td>{% if companies.isSorted('p.saleDate') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Sales date', 'p.saleDate') }}</td>
                        <td>{% if companies.isSorted('p.name') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Company', 'p.name') }}</td>
                        <td>{% if companies.isSorted('p.contact') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Contact', 'p.contact') }}</td>
                        <td>Phone</td>
                        <td></td>
                    </tr>
                    {% for item in companies %}
                        <tr class="companyItem" data-id="{{ item.id }}" main_page="true">
                            <td>{{ item.creator.id }}</td>
                            <td>{{ item.saleDate|date("d-m-Y") }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.contact }}</td>
                            <td>{{ item.phone }}</td>

                            <td>
                                <div class="btn-group" aria-label="..." role="group">
                                    <a title="Edit" href="{{ path('edit_company', { "id":item.id }) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    {% if not item.rejected %}
                                        <a title="Reject company" href="{{ path('reject', {"id":item.id, "current_step":0}) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                        </a>
                                    {% endif %}
                                    {% if not item.trashed %}
                                    <a title="Delete company" href="{{ path('delete', {"id":item.id}) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr class="company-card empty">
                            <td colspan="12">

                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <h2>No companies found</h2>
            {% endif %}
        </div>
    </div>


{% endblock %}