{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <td>{% if companies.isSorted('p.id') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'ID', 'p.id') }}</td>
                        <td>{% if companies.isSorted('p.name') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Company', 'p.name') }}</td>
                        <td>Number</td>
                        <td>Address</td>
                        <td>{% if companies.isSorted('p.contact') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Contact', 'p.contact') }}</td>
                        <td>Phone</td>
                        <td>Postal Code</td>
                        <td>{% if companies.isSorted('p.product') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Product', 'p.product') }}</td>
                        <td>Price</td>
                        <td>{% if companies.isSorted('p.saleDate') %}<i style="padding: 0" class="glyphicon {% if app.request.get('direction') == "asc" %}glyphicon-triangle-bottom{% else %}glyphicon-triangle-top{% endif %} btn-sm"></i>{% endif %}{{ knp_pagination_sortable(companies, 'Sales date', 'p.saleDate') }}</td>
                        <td></td>
                    </tr>
                    {% if companies|length > 0 %}
                        {% for item in companies %}
                            <tr data-id="{{ item.id }}">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.orgCode }}</td>
                                <td>{{ item.address }}</td>
                                <td>{{ item.contact }}</td>
                                <td>{{ item.phone }}</td>

                                <td>{{ item.postalCode }}</td>
                                <td>{{ item.product }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.saleDate|date("Y-m-d") }}</td>

                                <td style="position: relative;">
                                    <div class="btn-group" aria-label="..." role="group">
                                        <a href="{{ path('rejectedCom', { "id":item.id }) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        </a>
                                        <a href="{{ path('edit_company', { "id":item.id }) }}" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                            <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                <div class="row">
                    <div class="col-md-12 text-center">
                        {{ knp_pagination_render(companies) }}
                    </div>
                </div>
                {% if companies|length < 1 %}
                    <h2 style="margin: 0;"><small>No companies found</small></h2>
                {% endif %}
        </div>
        <div style="background: #e6e6e6;" class="col-md-12 company_item">
            {% if company.id is not null %}
            <div class="row">
                <div class="col-sm-3">
                    <div>
                        {% if company.image is not empty %}
                            <img src="{{ asset('upload/' ~ company.id ~'/' ~ company.image)}}" alt="" height="100" />
                        {% else %}
                            <img src="{{ asset('upload/default.png')}}" alt="" height="100" />
                        {% endif %}
                    </div>
                    <div>
                        {% if company.rejected %}
                            Status: <span style="color:red;">Rejected</span>
                        {% elseif company.trashed %}
                            Status: <span style="color:red;">Deleted</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-5">
                    {% if company %}
                        <h2>Selected company</h2>
                        <p>Company name: {{ company.name }}</p>
                        <p>Org. Number: {{ company.orgCode }}</p>
                        <p>Company id: {{ company.id }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    {% if company %}
                        <h2>Notes</h2>
                        <p>
                            {{ company.comment }}
                        </p>
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    <p>Added by: {{ company.creator.name }}</p>
                    <p>Last updated by: {{ company.logs.last.user.name }} [{{ company.logs.last.created|date('Y-m-d H:i:s') }}] - [Action: {{ company.logs.last.message }}]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% for step in steps() %}
                                {% if step.id > 1 %}
                                    <li><a class="{% if company.step.id >= step.id %} btn-success {% endif %}btn btn-default btn-xs text-uppercase" href="{{ path('set_step', { 'stepId':step.id, "id":company.id }) }}"> {{ step.name }} </a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}