{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
    <div class="col-md-12">
        <table class="table">

            <thead>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    Document
                </td>
                <td>
                    Manager
                </td>
                <td>
                    Created
                </td>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}

                <tr>
                    <td>{{ document.id }}</td>
                    <td> <a href="{{ asset('upload/documents/'~document.path) }}">{% if document.name is not null %}{{ document.name }}{% else %}File{% endif %}</a> </td>
                    <td>{{ document.user.name~' '~document.user.lastName }}</td>
                    <td>{{ document.created|date('d-F-Y H:i:s') }}</td>
                </tr>

            {% endfor %}
            </tbody>


        </table>
    </div>
</div>
{% endblock %}